language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  # not yet working (because of scikit-image dependency)
#  - "3.7-dev" # 3.7 development branch
#  - "nightly" # currently points to 3.7-dev
# command to install dependencies
install:
  - pip install .
  #- pip install -r requirements.txt
# command to run tests
script:
  - nosetests