language: python

services:
  - docker

before_install:
  # - docker pull elasticsearch:7.5.1
  - docker run -d -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.5.1
  - docker ps -a

python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install --upgrade pip
  - pip install pipenv
  - pipenv install --system --deploy
  - pip install --no-cache-dir .
# command to run tests
before_script:
  - cd tests
script:
  - pytest

deploy:
  - provider: script
    skip_cleanup: true
    script: bash travis/docker_push
    on:
      branch: master
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash travis/docker_push_latest
    on:
      branch: master
      tags: false