version: '3.7'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.1
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
    networks:
      - docker-elk
    restart: on-failure
  py-image-dedup:
    # build: .
    image: markusressel/py-image-dedup:latest
    environment:
      # change configuration to your liking
      - PY_IMAGE_DEDUP_DRY_RUN=True
      - PY_IMAGE_DEDUP_ANALYSIS_SOURCE_DIRECTORIES=/mnt/source/
      - PY_IMAGE_DEDUP_ANALYSIS_RECURSIVE=True
      - PY_IMAGE_DEDUP_ANALYSIS_ACROSS_DIRS=True
      - PY_IMAGE_DEDUP_ANALYSIS_FILE_EXTENSIONS=.png,.jpg,.jpeg
      - PY_IMAGE_DEDUP_ANALYSIS_THREADS=8
      - PY_IMAGE_DEDUP_ANALYSIS_USE_EXIF_DATA=True
      - PY_IMAGE_DEDUP_DEDUPLICATION_DUPLICATES_TARGET_DIRECTORY=/mnt/duplicates/
      - PY_IMAGE_DEDUP_ELASTICSEARCH_HOST=elasticsearch
      - PY_IMAGE_DEDUP_ELASTICSEARCH_PORT=9200
      - PY_IMAGE_DEDUP_ELASTICSEARCH_INDEX=images
      - PY_IMAGE_DEDUP_ELASTICSEARCH_AUTO_CREATE_INDEX=True
      - PY_IMAGE_DEDUP_ELASTICSEARCH_MAX_DISTANCE=0.1
      - PY_IMAGE_DEDUP_REMOVE_EMPTY_FOLDERS=False
      - PY_IMAGE_DEDUP_STATS_ENABLED=True
      - PY_IMAGE_DEDUP_STATS_PORT=8000
    volumes:
      # optionally mount a YAML configuration file
      # into /app/py_image_dedup.yaml instead of using environment:
      # - /mnt/data3/py_image_dedup.yaml:/app/py_image_dedup.yaml
      # change this to your local source directory:
      - /mnt/data3/py-image-dedup_testdata:/mnt/source
      # change this to your local duplicates directory:
      - /mnt/data3/py-image-dedup_duplicates:/mnt/duplicates
    links:
      - elasticsearch
    networks:
      - docker-elk
    ports:
      - "8000:8000"
    depends_on:
      - elasticsearch
    restart: on-failure
networks:
  docker-elk:
    driver: bridge