[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
ordered-set = "*"
watchdog = ">=0.10.2"
elasticsearch = ">=6"
scipy = "*"
numpy = "*"
setuptools = "*"
pip = ">=20.0.2"
container-app-conf = ">=5.0.0"
requests = ">=2.20.0"
click = "*"
tabulate = ">=0.8.3"
tqdm = "*"
prometheus-client = "*"
image-match = {editable = true,git = "https://github.com/markusressel/image-match.git",ref = "2.0.0"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
