setuptools
container-app-conf>=3.0.2
requests
scipy
numpy
image_match @ git+https://github.com/markusressel/image-match.git@2.0.0#egg=image_match
elasticsearch>=6
tabulate
tqdm
click
Pillow
ordered-set
watchdog>=0.9.0