setuptools
container-app-conf>=3.0.1
requests
scipy
numpy
image_match @ git+https://github.com/markusressel/image-match.git#egg=image_match
elasticsearch>=6
tabulate
tqdm
click
Pillow
ordered-set
watchdog>=0.9.0